.MMM-Fuel .table {
    border-spacing: 10px 0;
    border-collapse: separate;
}

.MMM-Fuel .logo {
    margin-right: 5px;
}

.MMM-Fuel .sort-By {
    margin-left: 5px;
}

.MMM-Fuel .centered {
    text-align: center;
}

.no-color .MMM-Fuel-map {
    filter: grayscale(100%);
}
