.MMM-Fuel .table {
    border-spacing: 10px 0px;
    border-collapse: separate;
}

.MMM-Fuel .logo {
    margin-right: 5px;
}

.MMM-Fuel .sortBy {
    margin-left: 5px;
}

.MMM-Fuel .centered {
    text-align: center;
}

.MMM-Fuel-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.MMM-Fuel .modal {
    position: fixed;
    z-index: 9000;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.MMM-Fuel .modal ul {
    margin: 0px;
}

.MMM-Fuel .no-color{
    -webkit-filter: grayscale(100%);
}