<h1 class="medium">MMM-Fuel</h1>
<div>{{ data.fns.translate("MODE") }}: {{ data.mode }}</div>
<div>{{ data.fns.translate("VOICE_COMMANDS") }}:</div>
<ul class="help">
    {% for sentence in data.sentences %}
        <li>{{ sentence }}</li>
    {% endfor %}
</ul>
